# Learning Python! 
## 03.02.2025 
## Tanvir Rahman Tonoy

## Versions

In [7]:
import sys
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 10:07:17) [Clang 14.0.6 ]

In [9]:
# Learning everyday brings you something great :)

In [13]:
"""
I love the way python works
And it is easy and I want to learn as much as I can 
"""

'\nI love the way python works\nAnd it is easy and I want to learn as much as I can \n'

## Variables , casting , single qoute or double qoute , MultiWord variable name

In [18]:
x = 10 , 
y = "tonoy"
z = True
print(x,y,z)

(10,) tonoy True

In [20]:
# Camel Case 
firstName = "Tanvir"
# Pascal Case 
LastName = "Tonoy"
# Snack Case 
date_of_birth = "17 September , 2003"
print(firstName,LastName, date_of_birth)

Tanvir Tonoy 17 September , 2003

In [22]:
# assigning multiple variables :
x,y,z = "Mim", "Sayra", "4 September 2004"

In [24]:
print(x,y,z)

Mim Sayra 4 September 2004

In [26]:
Collection1 = ["Shimul","Riyad","Ador"]
x,y,z = Collection1
print(x)
print(y)
print(z)

Shimul
Riyad
Ador

In [64]:
# global variable 

def func1():
    global a
    a = "Fi Amanillah"
    print(a + " Allah may give you the peace")
def func2():
    print(a)

In [66]:
func1()

Fi Amanillah Allah may give you the peace

In [68]:
func2()

Fi Amanillah

## Data Types

### there are 15 different types of Data in Python 
```
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
```

In [85]:
x1 = "Hello World"	#str	
x2 = 20	#int	
x3 = 20.5	#float	
x4 = 1j	#complex	
x5 = ["apple", "banana", "cherry"]	#list	
x6 = ("apple", "banana", "cherry")	#tuple	
x7 = range(6)	#range	
x8 = {"name" : "John", "age" : 36}	#dict	
x9 = {"apple", "banana", "cherry"}	#set	
x10 = frozenset({"apple", "banana", "cherry"})	#frozenset	
x11 = True	#bool	
x12 = b"Hello"	#bytes	
x13 = bytearray(5)	#bytearray	
x14 = memoryview(bytes(5))	#memoryview	
x15 = None	#NoneType

# Using casting 
```
x = str("Hello World")	str
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview
```

# Python Numbers

In [ ]:
x= 1
y= 1.1
z = 5j
print(type(x))
print(type(y))
print(type(z))

## see it works