# Introduction

Hello I'm Tanvir Rahman Tonoy! I love coding. I want to learn Data Science. Currently I'm studying in Swinburne University of Technology majoring in Data Science. I wanted to learn python for a long time. And Now I'm here to embody all the ideas. Before that, Let me recap all the basics.

    [07.02.2025]

In [4]:
# Learning Python
# help()
import sys
print(sys.version)

# Hello World ! 
print('Hello world')

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 10:07:17) [Clang 14.0.6 ]
Hello world

In [5]:

# The Basics 
2+2 # sim[le addition

4

In [6]:
2-1 # simple subtraction

1

In [7]:
2*5 # simple multiplication

10

In [8]:
8/3 # simple divition

2.6666666666666665

In [9]:
# division and modulus 
3/9 #

0.3333333333333333

In [10]:
# floor divition
100//33

3

In [11]:
# reminders 
100%33

1

In [12]:
# divition modulus 
quotient,reminder =  divmod(100,33)
print(quotient)
print(reminder)

3
1

# Retrying the process of learning python

In [14]:
# Exponential 
5**4

625

In [15]:
# we can also do the same with pow() function 
pow(5,4)

625

In [16]:
# divmod
divmod(5,2)

(2, 1)

In [17]:
a = 2.6648
round(a,2)

2.66

In [18]:
# lets represent big numbers 
a = 4_000_000
a*5

20000000

In [19]:
b = 10 
_ = a+b
c = 100 
c + _

4000110

# Strings || Learning strings in python :)

In [21]:
string = "Hello I'm Tanvir"

In [22]:
string.capitalize()

"Hello i'm tanvir"

In [23]:
string.upper()

"HELLO I'M TANVIR"

In [24]:
string.lower()

"hello i'm tanvir"

In [25]:
# escape notation : \"
'Hello I\'m Tonoy \n " Tanvir" Too'

'Hello I\'m Tonoy \n " Tanvir" Too'

In [26]:
"hello \n I'm someone \n WOW"

"hello \n I'm someone \n WOW"

In [27]:
print("""
HELLO , I'M TONOY 
I LOVE CODING 
WOW 
""")
# this is called string literals

HELLO , I'M TONOY
I LOVE CODING
WOW

In [28]:
# arithmetic operation in string 
print(3*"Onu"+"mate")

OnuOnuOnumate

In [29]:
"hello" "world" # only works when its literals not variables

'helloworld'

In [30]:
print("""+---+---+---+---+
| 1 | 2 | 3 | 4 |
+---+---+---+---+""")

+---+---+---+---+
| 1 | 2 | 3 | 4 |
+---+---+---+---+

In [31]:
x = "012345678"
print(x[0:1])
#  it will work like 
# print(x[include : Exclude ])

0

In [32]:
"9" + x[1:]

'912345678'

In [33]:
len(x)

9

# Lists in python

In [35]:
# list{array? } , dictionaries , tuple , set 
before_cube = [ 1,2,3,4,5,6,7,8,9]
for x in range(len(before_cube)):
    before_cube[x] = before_cube[x]**3
after_cube = before_cube
print(after_cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [36]:
# concatinating two list 
y = [0,1,2,3,4,5,6,7,8,9,10] + after_cube

In [37]:
len(y)

20

In [42]:
# storing list inside another list 
a = [1,2,3]
b = [a,b,c]
c = [a,b]

In [44]:
print(c[0][2])

3

In [67]:
# list comprehensive 
# let say we are going to create a for loop to update our list 
D = [1, 1.1 , 1.11, 1.111, 1.1111, 1.11111]

for i in range(len(D)):
    D.append(D[i]**2)
print(D)

[1, 1.1, 1.11, 1.111, 1.1111, 1.11111, 1, 1.2100000000000002, 1.2321000000000002, 1.234321, 1.23454321, 1.2345654321000001]

In [71]:
D = [D[i]**1/2 for i in range(len(D))]

In [73]:
D

[0.5,
 0.55,
 0.555,
 0.5555,
 0.55555,
 0.555555,
 0.5,
 0.6050000000000001,
 0.6160500000000001,
 0.6171605,
 0.617271605,
 0.6172827160500001]

In [75]:
# built in function list()
#  creating a list by creating an object 
x = list(("tania" , "jannati", "Ador"))
print(x)

['tania', 'jannati', 'Ador']

# Tuples in Python

In [84]:
# Tuple list like structure but not mutable may be not sure :0 
x = "tanvir" , "ador" , 100
print(x)

('tanvir', 'ador', 100)

In [88]:
# lets consider another example with list inside tuple 
y = ["dina", "adiba", "sinthia"] , ["onumate", "tania", "Abony"]
print(y)
y[0][1] = "Fuck Dina" 
print(y)

(['dina', 'adiba', 'sinthia'], ['onumate', 'tania', 'Abony'])
(['dina', 'Fuck Dina', 'sinthia'], ['onumate', 'tania', 'Abony'])

In [90]:
# unpacking tuples we can use variables to uppack and store the elements of tuples 
# considering the last tuple 
a,b = y
print(a)
print(b)

['dina', 'Fuck Dina', 'sinthia']
['onumate', 'tania', 'Abony']

In [92]:
print(a[0])

dina

In [94]:
# common methods count(), index()

# Sets in python hahaha

In [2]:
# uncorder , no dublicates value 
set1 = {1,1,1,0,0, 5, 2, 12}
print(set1)

{0, 1, 2, 5, 12}

In [4]:
 set2 ={"mim", "Mim", "mim", "Dim"}
print(set2)

{'Mim', 'mim', 'Dim'}

In [8]:
"mim" in set2

True

In [10]:
a= set("tanvir")
print(a)

{'a', 'r', 't', 'n', 'i', 'v'}

In [12]:
#  a lot of practice is necessary so good luck whatever you have

# Dictionary in Python like js Object or Json Object

In [9]:
# Dictionary is mutable 
Students = {
    'Student01':{'name':'tanvir rahman Tonoy','age':20},
    'Student02' : {'name':'Tamim' , 'age' : 20 }
}

In [11]:
# I Don't know what is the end of this journey but I'm skipping the complex data types

# Control Statements

In [2]:
tania = 0
if tania:
    print("She is cute")
else : 
    print("AstagfirullaH")

AstagfirullaH

In [44]:
x = 10 
if x<=10:
    print(x," is less than 10")
elif x<5:
    print("${x} is less than 10")
else:
    print("${x} is less than or equal to 0")

10  is less than 10

<!-- We are going to learn match  -->
# Match statement vs case statement

In [59]:
def Match(x):
    match x:
        case 400:
            return "Bad News"
        case 404:
            return "Not found"
        case _:
            return "Something else"

In [61]:
Match(400)

'Bad News'

In [63]:
Match(_)

'Something else'

In [16]:
def Point(point):
    match point:
        case (0,0):
            print("origin")
        case (0, y):
            print(f"Y = {y}")
        case (x,0):
            print(f"X = {x}")
        case _:
            raise ValueError("Not a point")

In [18]:
Point((100,0))

X = 100

In [20]:
Point((0,101))

Y = 101

In [24]:
Point((0,0))

origin